<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--<link rel="stylesheet" href="public\css\style.css">-->
 <link href="./css/style.css" rel="stylesheet" type="text/css">
 <title>Posts</title>
</head>

<body>
 <%- include('./partials/navbar.ejs') %>
 <div class="postslist">
 <% if (posts.length > 0) { %>
 <% posts.forEach(post => { %>
 <a class="singlepost" href="/singlepost/<%= post.id %>">


    <div class="flex-container">
        <div1>
        <p class="body">
            <div_user>
                <img src="<%= post.userurl %>" alt="user">
            </div_user>

            <p> <%= post.date %></p>
            

            
            <div_post>
                <img src="<%= post.posturl %>" alt="post">
            </div_post>
            

            <p class="posttext"> <%= post.body %> </p> 
            
            
            <p class="postlikes"><%= post.likes %></p>

        </p>
        </div1>
    </div>



 </a>
 <% }) %>
 <% } else { %>
 <p>You did not post anything...</p>
 <% } %>
 </div>





 <%- include('./partials/footer.ejs') %>

</body>
</html>