<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/style.css">
 <title>Posts</title>
</head>
<body>
 <%- include('./partials/navbar.ejs') %>
 <div class="posts list">

 <% if (posts.length > 0) { %>

 <% posts.forEach(post => { %>
 <a class="singlepost" href="/singlepost/<%= post.id %>">



 <p class="body">
 <img src="<%= post.userurl %>" alt="user">
 <p> <%= post.date %></p>
<!--Siin on vaja if korda teha-->
 <% if (posts.posturl !== '' ) { %>
 <img src="<%= post.posturl %>" alt="post">
 <% } %>

 <p> <%= post.body %> </p> 
 <p><%= post.likes %></p>



 </p>
 </a>
 <% }) %>

 <% } else { %>
 <p>You did not post anything...</p>
 <% } %>
 </div>

 <%- include('./partials/footer.ejs') %>


</body>
</html>