<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/css/style.css" rel="stylesheet" type="text/css">
 <link href="/css/navstyle.css" rel="stylesheet" type="text/css">
 <title>Single Post</title>
</head>

<body>
 <%- include('./partials/navbar.ejs') %>

 <div class="flex-container">
    <div1>
    <p class="body">
        <div_user>
            <img src="<%= posts.userurl %>" alt="user">
        </div_user>
        <p> <%= posts.date %></p>
        <div_post>
            <img src="<%= posts.posturl %>" alt="post">
        </div_post>
        <p class="posttext"> <%= posts.body %> </p>
        <button class="likebutton" type="button">Like</button>
        <p class="postlikes"><%= posts.likes %></p>
    </p>
    </div1>

    <button class="delete" data-del="<%= posts.id %>">Delete</button>
    
</div>

 <script>
     const likes = document.querySelector('button.likebutton')
     likes.addEventListener('click', (e) => {
         likes.disabled = true;
         const endpoint = `/singlepost/${likes.dataset.del}`;
         fetch(endpoint, {
             method: 'PUT',
         })
     });
 </script>

 <script>
 const delreq = document.querySelector('a.delete');
 delreq.addEventListener('click', (e) => {
 const endpoint = `/posts/${delreq.dataset.del}`;
 fetch(endpoint, {
 method: 'DELETE',
 }).then(window.location.href = '/posts')
 });
 </script>

 <%- include('./partials/footer.ejs') %>

</body>
</html>